<!-- Footer -->
<footer id="footer">
  <div class="container">
    <!-- introduce-box -->
    <div id="introduce-box" class="row">
      <div class="col-md-3">
        <div id="address-box">
          <a href="/">
            <img class="img-logo" src="assets/images/fita_logo.png" alt="FITA" /></a>
          <div id="address-list">
            <div class="tit-name">Hotline:</div>
            <div class="tit-contain"><a href="tel:+02462617701" title="Click gọi ngay!">(024) 62617701</a></div>
            <div class="tit-name">Email:</div>
            <div class="tit-contain"><a href="mailto:cntt@vnua.edu.vn" title="Click để gửi email!">cntt@vnua.edu.vn</a></div>
          </div>
          <br />

        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <div class="introduce-title">VỀ CHÚNG TÔI</div>
            <ul id="introduce-company" class="introduce-list">
              <li><a href="https://fita.vnua.edu.vn/" target="_blank">Giới thiệu</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div class="introduce-title">TIN TỨC</div>
            <ul id="introduce-Account" class="introduce-list">
              <li><a href="https://fita.vnua.edu.vn/" target="_blank">FITA-VNUA</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div class="introduce-title">LIÊN HỆ</div>
            <div class="tit-contain"><a href="tel:+(024) 62617701" title="Click gọi ngay!">(024) 62617701</a></div>
            <div class="tit-name">Email:</div>
            <div class="tit-contain"><a href="mailto:cntt@vnua.edu.vn" title="Click để gửi email!">cntt@vnua.edu.vn</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="contact-box">
          <div class="introduce-title">Gửi hỗ trợ - Góp ý</div>
          <div>
            <textarea name="ctl00$txtComment" rows="2" cols="20" id="txtComment" class="form-control send-sp" placeholder="Nội dung &amp; liên hệ của bạn (Email, ĐT)" style="height:60px;width:100%;">
            </textarea>
            <div id="errCmt" class="text-error"></div>
          </div>
          <br />
          <div>
            <a  id="btnSend" class="button-orange"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>&nbsp; GỬI NHANH</a>
          </div>
          <br />
        </div>
      </div>
    </div>

  </div>
</footer>
