<div class="modal-content">
  <div class="modal-header bg-info">
    <h4 class="modal-title">Chi tiết lớp học phần</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="subjectCodeDetailModal" class="col-sm-4 col-form-label">Mã môn học:</label>
      <label id="subjectCodeDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.subjectCode}}</label>
    </div>
    <div class="form-group row">
      <label for="subjectNameDetailModal" class="col-sm-4 col-form-label">Tên môn học:</label>
      <label id="subjectNameDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.subjectName}}</label>
    </div>
    <div class="form-group row">
      <label for="subjectGroupDetailModal" class="col-sm-4 col-form-label">Nhóm môn học:</label>
      <label id="subjectGroupDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.subjectGroup}}</label>
    </div>
    <div class="form-group row">
      <label for="classCodeDetailModal" class="col-sm-4 col-form-label">Mã lớp:</label>
      <label id="classCodeDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.classCode}}</label>
    </div>
    <div class="form-group row">
      <label for="lecturerCodeDetailModal" class="col-sm-4 col-form-label">Mã giảng viên:</label>
      <label id="lecturerCodeDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.lecturerCode}}</label>
    </div>
    <div class="form-group row">
      <label for="lecturerNameDetailModal" class="col-sm-4 col-form-label">Tên giảng viên:</label>
      <label id="lecturerNameDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.lecturerName}}</label>
    </div>
    <div class="form-group row">
      <label for="semesterDetailModal" class="col-sm-4 col-form-label">Học kỳ:</label>
      <label id="semesterDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.semester}}</label>
    </div>
    <div class="form-group row">
      <label for="yearDetailModal" class="col-sm-4 col-form-label">Năm học:</label>
      <label id="yearDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.year}} - {{courses.year +1}}</label>
    </div>
    <div class="form-group row">
      <label for="createdDateDetailModal" class="col-sm-4 col-form-label">Ngày tạo:</label>
      <label id="createdDateDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.createdDate}}</label>
    </div>
    <div class="form-group row">
      <label for="createdByDetailModal" class="col-sm-4 col-form-label">Người tạo:</label>
      <label id="createdByDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.createdBy}}</label>
    </div>
    <div class="form-group row">
      <label for="lastModifiedDateDetailModal" class="col-sm-4 col-form-label">Chỉnh sửa lần cuối:</label>
      <label id="lastModifiedDateDetailModal" class="col-sm-8 col-form-label bg-light">{{courses.lastModifiedDate}}</label>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
  </div>
</div>
