<div class="container" id="columns">
  <div id="mainbody_upPannel">
    <div class="row" >
      <div class="center_column col-xs-12 col-sm-12" id="center_column">
<!--        <div *ngIf="inputSearch != null " id="mainbody_contentbody_contentpage_regPanel">-->
<!--          <div class="search-box">-->
<!--            <div class="bold green title">TÌM KIẾM NÂNG CAO</div>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-3">-->
<!--                <div class="form-group">-->
<!--                  <label class="bold">Danh mục</label>-->
<!--                  <select name="ctl00$ctl00$ctl00$mainbody$contentbody$contentpage$ddlLang" id="mainbody_contentbody_contentpage_ddlLang" class="form-control" style="color: rgb(126, 89, 42);">-->
<!--                    <option selected="selected" value="0" style="color: rgb(126, 89, 42);">&#45;&#45;Tất cả&#45;&#45;</option>-->
<!--                    <option value="15" style="color: rgb(126, 89, 42);">Android</option>-->
<!--                    <option value="23" style="color: rgb(126, 89, 42);">iOS</option>-->
<!--                    <option value="26" style="color: rgb(126, 89, 42);">Windows phone</option>-->
<!--                    <option value="21" style="color: rgb(126, 89, 42);">PHP &amp; MySQL</option>-->
<!--                    <option value="29" style="color: rgb(126, 89, 42);">WordPress</option>-->
<!--                    <option value="28" style="color: rgb(126, 89, 42);">Joomla</option>-->
<!--                    <option value="17" style="color: rgb(126, 89, 42);">Visual C#</option>-->
<!--                    <option value="16" style="color: rgb(126, 89, 42);">Asp/Asp.Net</option>-->
<!--                    <option value="20" style="color: rgb(126, 89, 42);">Java/JSP</option>-->
<!--                    <option value="19" style="color: rgb(126, 89, 42);">Visual Basic</option>-->
<!--                    <option value="24" style="color: rgb(126, 89, 42);">Cocos2D</option>-->
<!--                    <option value="27" style="color: rgb(126, 89, 42);">Unity</option>-->
<!--                    <option value="18" style="color: rgb(126, 89, 42);">Visual C++</option>-->
<!--                    <option value="25" style="color: rgb(126, 89, 42);">Html &amp; Template</option>-->
<!--                    <option value="22" style="color: rgb(126, 89, 42);">Khác</option>-->

<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-sm-3">-->
<!--                <div class="form-group">-->
<!--                  <label class="bold">Thể loại</label>-->
<!--                  <select name="ctl00$ctl00$ctl00$mainbody$contentbody$contentpage$ddlType" id="mainbody_contentbody_contentpage_ddlType" class="form-control" style="color: rgb(126, 89, 42);">-->
<!--                    <option selected="selected" value="0" style="color: rgb(126, 89, 42);">&#45;&#45;Tất cả&#45;&#45;</option>-->
<!--                    <option value="1" style="color: rgb(126, 89, 42);">Website</option>-->
<!--                    <option value="2" style="color: rgb(126, 89, 42);">Phần mềm - Ứng dụng</option>-->
<!--                    <option value="3" style="color: rgb(126, 89, 42);">Game</option>-->
<!--                    <option value="4" style="color: rgb(126, 89, 42);">Khác</option>-->

<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="col-sm-5">-->
<!--                <div class="form-group">-->
<!--                  <label class="bold">Tìm kiếm code</label>-->
<!--                  <div class="input-group">-->
<!--                    <input name="ctl00$ctl00$ctl00$mainbody$contentbody$contentpage$txtSearchAdv" type="text" value="ad" id="mainbody_contentbody_contentpage_txtSearchAdv" class="form-control txt-auto ui-autocomplete-input" placeholder="Từ khóa (or) Mã code" autocomplete="off">-->
<!--                    <span class="input-group-btn">-->
<!--                    <a id="mainbody_contentbody_contentpage_btnSearch" class="btn btn-inline-orange btn-search-ad bold" type="button">TÌM KIẾM &nbsp;</a>-->
<!--                </span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
        <div id="view-product-list" class="view-product-list">
          <h1 class="page-heading">
            <span class="page-heading-title" *ngIf="category != null"> {{category}} </span>
            <span class="page-heading-title" *ngIf="category == null">ĐỒ ÁN</span>
          </h1>
          <ul class="display-product-option">

            <li class="view-as-grid" [class.selected]="'grid' == name">
              <a (click)="changeViewGrid()" id="mainbody_btnViewBase1" title="Xem danh sách" ><span>grid</span></a>
            </li>

            <li class="view-as-list"[class.selected]="'list' == name" >
              <a (click)="changeViewList()" id="mainbody_bntViewDetail1" title="Xem chi tiết" ><span>list</span></a>
            </li>
          </ul>
          <!-- PRODUCT LIST -->

          <ul class="row product-list style2" [ngClass]="name" >
            <li *ngFor="let project of projectList | paginate: {id: 'listing_pagination',
            itemsPerPage: 12,
            currentPage: page,
            totalItems: totalRecords}" class="col-sx-12 col-sm-3" >
              <div class="product-container">
                <div class="left-block">
                  <a [routerLink]="['/detail', project.projectCode]">
                    <div class="img-box">
                      <img class="img-responsive" itemprop="image" src="{{aaa}}{{ project.projectAvatarUrl }}" alt="{{project.projectName}}" />
                    </div>
                  </a>

                  <a class="cate" [routerLink]="['/CategoryProject', project.categoryName ]" [state]="{id: project.categoryCode}">{{ project.categoryName }}</a>
                </div>
                <div class="right-block">
                  <a itemprop="url" [routerLink]="['/detail', project.projectCode ]">
                    <h2 itemprop="name" class="product-name bold" title="Đồ án {{project.projectName}}"> {{project.projectName}}</h2>
                  </a>
                  <div class="rateit" data-rateit-value="3,7"  data-rateit-readonly="true" itemprop="aggregateRating" ></div>
                  <div class="info-orther">
                    <div class="col-sm-10 col-md-5 font-black">
                      <p>Danh mục: <a class="aorange" [routerLink]="['/CategoryProject', project.categoryName]">{{project.categoryName}}</a></p>
                      <p>Môn học: <span class="font-black">{{project.subjectName}}</span></p>
                      <p>Bộ môn: <span class="font-black">{{project.nameDepartment}}</span></p>

                    </div>
                    <div class="col-sm-10 col-md-5 font-black">
                      <p>Ngày : <span class="font-black">{{project.createdDate}}</span></p>
                      <p>Năm học - học kỳ : <span class="font-black">{{project.year}} - {{project.semester}}</span></p>
                    </div>
                  </div>
                </div>
              </div>


            </li>

          </ul>
          <div *ngIf="projectList != []" class="right-pagination">
            <pagination-controls id="listing_pagination" maxSize="8" directionLinks=" true" (pageChange)="page = $event" responsive = "true" ></pagination-controls>
          </div>
        </div>

        <div class="clearfix"></div>

      </div>
    </div>

  </div>
</div>
