
<div class="columns-container">
  <div class="container" id="columns">


    <div class="row" itemscope >

      <div class="center_column col-xs-12 col-sm-12" id="center_column">

        <div id="mainbody_contentbody_upPannel">

          <div class="row">
            <div class="col-sm-4">
              <div class="img-border">
                <img id="mainbody_contentbody_CodeImage" title='đồ án {{projectData.projectName}} 'class="img-val" itemprop="image"src="{{aaa}}{{projectData.projectAvatarUrl}}" alt="{{projectData.projectName}}" />
              </div>
<!--              <div class="text-center dt-gallery"><a href="#anh-demo" class="aorange"><span id="mainbody_contentbody_CountGallery">Xem 3 Ảnh demo</span></a></div>-->

            </div>
            <div class="col-sm-8 dt-center">
              <h1 id="mainbody_contentbody_TitleCode" class="dt-title bold title-detail-font-size" itemprop="name">{{projectData.projectName}}</h1>
<!--              <span class="green dt-title bold text-nowrap">[Mã code <span id="mainbody_contentbody_Code" itemprop="productID">26741</span>]</span>-->
              <div class="line"></div>

              <div class="line"></div>
              <div class="row">
                <div class="col-md-12 dt-des">
                  <div class="dt-col2 font-black">Danh mục </div>
               <div id="mainbody_contentbody_Lang2" class="font-black1">{{projectData.categoryName}}</div>
                  <div class="dt-col2 font-black">Ngày đăng </div>
                  <div id="mainbody_contentbody_Date2" class="font-black1">{{projectData.createdDate}}</div>
                  <div class="dt-col2 font-black">Môn học</div>
                  <div class="font-black1">{{projectData.subjectName}}</div>
                  <div class="dt-col2 font-black">Bộ môn</div>
                  <div class="font-black1">{{projectData.nameDepartment}}</div>
                  <div class="dt-col2 font-black">Giảng viên hướng dẫn</div>
                  <div class="font-black1"> {{projectData.lecturerName}}</div>
                  <div class="dt-col2 font-black">năm học - học kỳ</div>
                  <div class="font-black1">{{ projectData.year}} - {{projectData.semester}}</div>
                  <div class="dt-col2 font-black">Nhóm thực hiện </div>


                  <div class="font-black1"><span *ngFor = "let member of projectData.projectMembers; let islast = last "> {{member.fullName + (islast? '': ', ')}} </span></div>
                  <div class="dt-col2 font-black">Lớp</div>
                  <div class="font-black1"> {{projectData.studentClass}}</div>
                  <div class="dt-col2 font-black">Đường dẫn chứa file báo cáo</div>
                  <div class="font-black1"> {{projectData.demoLink}}</div>


                </div>
<!--                <div class="col-md-6 dt-dow-vie">-->
<!--                  <a href="{{projectData.demoLink}}" target="_blank" class="btn2 button-down bold"> Xem đồ án</a>-->

<!--                </div>-->

              </div>
              <div class="line"></div>
            </div>
          </div>

          <br />
          <div class="dt-sub" title="Mô tả ngắn">
            <h4 class="title1" itemprop="description" style="color: #2d2c2e">
              {{projectData.shortDescription}}</h4>
          </div>
          <br />
          <span class="dt-box-title bold">MÔ TẢ CHI TIẾT</span>
          <div class="dt-box entry-detail">
<!--            <p>-->
<!--              - Form đăng nhập, đăng kí, khôi phục mật khẩu kết hợp validate required.</p>-->
<!--            <p>-->
<!--              - Giao diện + effect đẹp.</p>-->
<!--            <p>-->
<!--              - Tương thích trên điện thoại di động.</p>-->
<!--            <p>-->
<!--              - Các modules: css-animate, animsition, bootstrap, countdowntime, css-hamburgers, daterangepicker, jquery, perfect-scrollbar, select2.</p>-->
            <div style="color: #2d2c2e" [innerHTML]="projectData.detailedDescription">
            </div>
<!--            <p id="mainbody_contentbody_boxTextConfig">-->
<!--              <br />-->
<!--              XEM THÊM ==> <a href="#huong-dan-cai-dat" class="aorange">Hướng dẫn cài đặt chi tiết</a>-->
<!--            </p>-->
<!--            <p id="anh-demo">&nbsp;</p>-->
<!--            <div id="mainbody_contentbody_divGalleryImage" class="dt-img">-->
<!--              <b>HÌNH ẢNH DEMO</b>-->
<!--              <br />-->
<!--              <br />-->
<!--              <br />-->

<!--            </div>-->

<!--          </div>-->
<!--          <br />-->
<!--          <br />-->
<!--          <span class="dt-box-title bold">HƯỚNG DẪN CÀI ĐẶT</span>-->
<!--          <div class="dt-box entry-detail"> Ấn vào nút download rồi tải về và giải nén code chạy-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>

