<div class="modal-header bg-danger">
  <h4 class="modal-title">Xóa môn học</h4>
</div>
<div class="modal-body" style="text-align: center">
  Xoá môn học  :  <label id="subject">{{subjectName}}</label>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
  <button type="button" class="btn btn-primary" (click)="delete()">Xoá</button>
</div>
