<div class="modal-header bg-success">
  <ng-container *ngIf="roleId == LECTURE; else elseBlock">
    <h4 class="modal-title">Thêm Giảng Viên</h4>
  </ng-container>
  <ng-template #elseBlock>
    <h4 class="modal-title">Thêm Sinh Viên</h4>
  </ng-template>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="userFormGroup" novalidate (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <!--<div class="form-group">-->
      <!--<label>Vai trò</label>-->
      <!--<ng-select2 [data]="dataForSelect2Role"-->
                  <!--[options]="options" (valueChanged)="onChangeRole($event)" formControlName="roleId" placeholder="Chọn vai trò">-->
      <!--</ng-select2>-->
    <!--</div>-->
    <!--<ng-container *ngIf="checkSelectRole == 0; else user">-->
      <!--<input type="text" class="form-control" placeholder="Tên đăng nhập" readonly formControlName="username">-->
    <!--</ng-container>-->
      <ng-container *ngIf="roleId == STUDENT; else teacher">
        <div class="form-group">
          <label>Mã sinh viên</label>
          <input type="text" class="form-control" placeholder="Nhập mã sinh viên" formControlName="username">
        </div>
      </ng-container>
      <ng-template #teacher>
        <div class="form-group">
          <label>Mã giảng viên</label>
          <input type="text" class="form-control" placeholder="Nhập mã giảng viên" formControlName="username">
        </div>
      </ng-template>
    <div
      [hidden]="userFormGroup.controls.username.status == 'VALID' || userFormGroup.controls.username.pristine"
      class="alert alert-danger">
      Tên đăng nhập của người dùng không được để trống, và cần điền đúng định dạng!<br>
    </div>
    <div class="form-group">
      <label for="passwordAddModal">Mật khẩu</label>
      <input type="text" id="passwordAddModal" class="form-control" placeholder="Nhập mật khẩu"
             formControlName="password">
    </div>
    <div
      [hidden]="userFormGroup.controls.password.status == 'VALID' || userFormGroup.controls.password.pristine"
      class="alert alert-danger">
      Mật khẩu không được để trống!<br>
    </div>
    <div class="form-group">
      <label for="fullNameAddModal">Họ tên</label>
      <input type="text" id="fullNameAddModal" class="form-control" placeholder="Nhập họ tên"
             formControlName="fullname">
    </div>
    <div
      [hidden]="userFormGroup.controls.fullname.status == 'VALID' || userFormGroup.controls.fullname.pristine"
      class="alert alert-danger">
      Họ tên không được để trống!<br>
    </div>
    <div class="form-group">
      <label for="birthDateAddModal">Ngày sinh</label>
      <input id="birthDateAddModal" type="date" class="form-control" data-inputmask-alias="datetime"
             data-inputmask-inputformat="dd/mm/yyyy" data-mask formControlName="birthDate">
    </div>
    <div class="form-group">
      <label for="genderAddModal">Giới tính</label>
      <div class="form-inline" id="genderAddModal">
        <div class="form-check mx-2">
          <input class="form-check-input" type="radio" id="maleGenderAddModal" name="genderAddModal" value="Nam" (change)="onChangeGender($event)">
          <label for="maleGenderAddModal" class="form-check-label">Nam</label>
        </div>
        <div class="form-check mx-2">
          <input class="form-check-input" type="radio" id="femaleGenderAddModal" name="genderAddModal" value="Nữ" (change)="onChangeGender($event)">
          <label for="femaleGenderAddModal" class="form-check-label">Nữ</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="emailAddModal">Email</label>
      <input type="email" id="emailAddModal" class="form-control" placeholder="Nhập email"
             formControlName="emailAddress">
    </div>
    <div class="form-group">
      <label for="phoneAddModal">Số điện thoại</label>
      <input type="text" id="phoneAddModal" class="form-control" data-inputmask='"mask": "9999999999"'
             formControlName="phoneNumber"
             data-mask>
    </div>
    <!--<ng-container *ngIf="checkSelectRole == 0; else elseBlock">-->
      <!--<div class="alert alert-warning">-->
        <!--<strong>Warning!</strong> Chọn vai trò của người dùng.-->
      <!--</div>-->
    <!--</ng-container>-->
      <ng-container *ngIf="roleId == STUDENT; else teacherDP">
        <div class="form-group">
          <label>Mã lớp</label>
          <input type="text" class="form-control" placeholder="Nhập mã lớp theo khóa học" formControlName="address">
        </div>
      </ng-container>
      <ng-template #teacherDP>
        <div class="form-group">
          <label>Bộ môn</label>
          <ng-select2 [data]="dataForSelect2Department" placeholder="Chọn bộ môn"
                      [options]="options" formControlName="address">
          </ng-select2>
        </div>
      </ng-template>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Đóng</button>
    <button type="submit" class="btn btn-primary" [disabled]="userFormGroup.status == 'INVALID'">Thêm</button>
  </div>
</form>
