<div class="modal-header bg-danger">
  <h4 class="modal-title">Xoá thể loại</h4>
</div>
<div class="modal-body" style="text-align: center">
  Xoá thể loại <label id="departmentNameDeleteModal">{{categories.categoryName}}</label>?
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
  <button type="button" class="btn btn-primary" (click)="delete()" >Xoá</button>
</div>
