<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
<!--    Anything you want-->
  </div>
  <div >
    <p style="margin-bottom:-10px; padding-top:5px;"><strong>BẢN QUYỀN THUỘC KHOA CÔNG NGHỆ THÔNG TIN - HỌC VIỆN NÔNG NGHIỆP VIỆT NAM</strong></p><br>
    <p style="float:left; color:#666666;">
      Địa chỉ Văn phòng Khoa: P316, Tầng 3 Nhà Hành chính, Học viện Nông nghiệp Việt Nam<br>
      Điện thoại: (024) 62617701 – Fax: (024) 38276554<br>
      Email: cntt@vnua.edu.vn - Website: https://fita.vnua.edu.vn</p>
    <div> <!-- end footer contact -->
    </div> <!-- end #footer-content -->
  </div>
</footer>
