<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark">Thêm Đồ Án</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
            <li class="breadcrumb-item"><a href="quanlydoan.html">Quản Lý Đồ Án</a></li>
            <li class="breadcrumb-item active">Thêm Đồ Án</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <div class="content">
    <div class="container-fluid">
      <!-- Chỉnh sửa ở đây! -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <!--                Ảnh-->
            <img class="img-fluid" src="assets/admin-dashboard/dist/img/imgaddproject.png" id="viewAvatarP"
                 alt="Photo">
            <div class="form-group">
              <label for="inputImgAvatar">Tải lên ảnh đại diện của đồ án</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputImgAvatar" (change)="submitFileP($event)">
                  <label class="custom-file-label" for="inputImgAvatar">Choose file</label>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="inforProjectForm" novalidate>
                  <div class="post" style="margin-left: 2%">
                    <div class="row">
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px">Tên
                              đồ án:</label>
                          </div>
                          <div class="col-lg-8">
                            <input type="text" class="form-control"
                                   placeholder="Nhập tên đồ án" formControlName="name">
                            <div
                              [hidden]="inforProjectForm.controls.name.status == 'VALID' || inforProjectForm.controls.name.pristine"
                              class="alert alert-danger">
                              Tên đồ án không được để trống!
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px" formControlName="code">Mã
                              đồ án:</label>
                          </div>
                          <div class="col-lg-8">
                            <input type="text" class="form-control"
                                   placeholder="Nhập mã đồ án" formControlName="code">
                            <div
                              [hidden]="inforProjectForm.controls.code.status == 'VALID' || inforProjectForm.controls.code.pristine"
                              class="alert alert-danger">
                              Mã đồ án không được để trống!
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px">Học
                              kỳ - Năm học:</label>
                          </div>
                          <div class="col-lg-8">
                            <ng-select2 [data]="dataForSelect2YearSemesters" [options]="option"
                                        placeholder="Chọn năm học, học kỳ" (valueChanged)="onChanYearSemester($event)">
                            </ng-select2>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px">Chọn
                              lớp học phần:</label>
                          </div>
                          <div class="col-lg-8">
                            <ng-select2 [data]="dataForSelect2Courses" [options]="option"
                                        placeholder="Chọn lớp học phần"
                                        (valueChanged)="onChangeCourses($event)" formControlName="idCourses">
                            </ng-select2>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px">Tên môn học:</label>
                          </div>
                          <div class="col-lg-8">
                            <input type="text" class="form-control" [value]="nameOfSubject"
                                   readonly>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px">Giảng viên:</label>
                          </div>
                          <div class="col-lg-8">
                            <input type="text" class="form-control" [value]="lecturerOfCourses"
                                   readonly>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="row">
                          <div class="col-lg-3">
                            <label class="col-form-label" style="padding-left: 7px">
                              Thể loại:</label>
                          </div>
                          <div class="col-lg-8">
                            <ng-select2 [data]="dataForSelect2Category" [options]="option" placeholder="Chọn thể loại"
                                      formControlName="codeCategory">
                            </ng-select2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!--        Thông tin chi tiết , mô tả ngắn , mô tả chi tiết , ảnh-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Mô tả ngắn</h3>
            </div>
            <div class="card-footer">
              <div class="form-group">
                                    <textarea class="textarea" placeholder="Place some text here" [(ngModel)]="shortDes"
                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Chi tiết đồ án</h3>
            </div>
            <div class="card-footer">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Thành viên thực hiện</h3>
                </div>
                <div class="card-body">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th>STT</th>
                      <th>Mã sinh viên</th>
                      <th>Họ tên</th>
                      <th>Lớp</th>
                      <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="count"></td>
                      <td>
                        <ng-select2 [data]="dataForselect2LeadProject" [options]="optionForLead"
                                    placeholder="Chọn nhóm trưởng"
                                    (valueChanged)="onChangeLead($event)">
                        </ng-select2>
                      </td>
                      <td>
                        <input type="text" class="form-control"
                               placeholder="Nhập tên nhóm trưởng" readonly [value]="student.fullName">
                      </td>
                      <td><input type="text" class="form-control"
                                 placeholder="Nhập lớp" readonly [value]="student.classCode"></td>
                      <td>
                        <button class="btn btn-warning btn-sm" type="button" disabled>Xóa</button>
                      </td>
                    </tr>
                    <tr *ngFor="let field of listofMember; let i = index">
                      <td class="count"></td>
                      <td>
                        <input [(ngModel)]="field.studentCode" class="form-control" type="text"
                               name="{{field.studentCode}}" placeholder="Mã sinh viên thành viên "/>
                      </td>
                      <td>
                        <input [(ngModel)]="field.fullName" class="form-control" type="text" name="{{field.fullName}}"
                               placeholder="Họ tên thành viên "/>
                      </td>
                      <td>
                        <input [(ngModel)]="field.classCode" class="form-control" type="text" name="{{field.classCode}}"
                               placeholder="Mã lớp thành viên "/>
                      </td>
                      <td>
                        <button class="btn btn-warning btn-sm" type="button" (click)="deleteMember(i)">Xóa</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-success" type="button" (click)="addMember()">Thêm</button>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Mô tả chi tiết kèm ảnh minh họa </h3>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                       <textarea
                         name="html" [(ngModel)]="html"
                         [ngxSummernote]="config"></textarea>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="form-group row">
                      <div class="row">
                        <div class="col-lg-5">
                          <label class="col-form-label" style="padding-left: 7px">
                            Link chạy thử:</label>
                        </div>
                        <div class="col-lg-7">
                          <input type="text" class="form-control" [(ngModel)]="linkDemo"
                                 placeholder="Nhập link chạy thử">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-5">
                        <button type="button" class="btn btn-secondary" (click)="cancel()">Trở lại
                        </button>
                      </div>
                      <div class="col-lg-7">
                        <button type="button" (click)="saveProject()"
                                class="btn btn-success">Thêm đồ án
                        </button>
                      </div>
                      <div id="test">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div><!-- /.container-fluid -->
