<div class="modal-content">
  <div class="modal-header bg-danger">
    <h4 class="modal-title">Xoá người dùng</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Xoá người dùng: <label id="usernameDeleteModal">{{user.fullName}}</label>?<br>
    Username:  <label >{{user.username}}</label>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
    <button type="button" class="btn btn-primary" (click)="deleteUser()">Xoá</button>
  </div>
</div>
<!-- /.modal-content -->
