<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <img src="assets/admin-dashboard/dist/img/FITALogo.png" alt="Faculty Logo" class="brand-image img-circle">
    <a href="#"><b>Hệ Thống Trưng Bày Sản Phẩm Đồ Án Môn Học</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Nhập tên tài khoản và mật khẩu để đăng nhập</p>

      <form [formGroup]="loginForm" NOVALIDATE (ngSubmit)="submit()">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" formControlName="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-user"></span>
            </div>
          </div>
        </div>
        <div [hidden]="loginForm.controls.username.status == 'VALID' || loginForm.controls.username.pristine"
             class="alert alert-danger">
          Username không được để trống!<br>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div [hidden]="loginForm.controls.password.status == 'VALID' || loginForm.controls.password.pristine"
             class="alert alert-danger">
          Mật khẩu không được để trống!<br>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Ghi nhớ phiên đăng nhập
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.status == 'INVALID'">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <a href="forgot-password.html">Lấy lại mật khẩu</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</body>
