<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Kiểm Duyệt Đồ Án</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/management/home">Home</a></li>
            <li class="breadcrumb-item active">Kiểm duyệt đồ án</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- JUST EDIT HERE! -->
      <div class="row">
        <div class="col-12">
        <ng-container *ngIf="user.roleId == admin">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6 col-md-8 my-2">
                  <strong class="text-muted">Danh sách đồ án chờ kiểm duyệt</strong>
                </div>
                <div class="col-sm-6 col-md-4 my-2">
                  <ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChange($event)">
                  </ng-select2>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="coursesDatatableAdmin" class="table table-bordered table-striped" datatable
                     [dtOptions]="dataTableOptions"
                     [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã đồ án</th>
                  <th>Tên đồ án</th>
                  <th>Tên thể loại</th>
                  <th>Ngày tạo</th>
                  <th>Môn học</th>
                  <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                  <td class="count"></td>
                  <td>{{project.projectCode}}</td>
                  <td>{{project.projectName}}</td>
                  <td>{{project.categoryName}}</td>
                  <td>{{project.createdDate}}</td>
                  <td>{{project.subjectName}}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-sm">
                      <i class="fas fa-eye"></i> <a style="color: white; text-decoration: none" routerLink="/management/project/detail/{{project.id}}"
                                                    href="chitietdoan.html">Chi tiết</a>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                            data-target="#modal-edit" name="{{project.id}}" (click)="reviseProject($event)">
                      <i class="fas fa-pencil-alt"></i> Duyệt đồ án
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </ng-container>
          <ng-container *ngIf="user.roleId == lecture">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6 col-md-8 my-2">
                    <strong class="text-muted">Danh sách đồ án chờ kiểm duyệt</strong>
                  </div>
                  <div class="col-sm-6 col-md-4 my-2">
                    <ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChange($event)">
                    </ng-select2>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="coursesDatatable" class="table table-bordered table-striped" datatable
                       [dtOptions]="dataTableOptions"
                       [dtTrigger]="dtTrigger">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Mã đồ án</th>
                    <th>Tên đồ án</th>
                    <th>Tên thể loại</th>
                    <th>Ngày tạo</th>
                    <th>Môn học</th>
                    <th>Hành động</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let project of projectsOfLecture">
                    <td class="count"></td>
                    <td>{{project.projectCode}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.categoryName}}</td>
                    <td>{{project.createdDate}}</td>
                    <td>{{project.subjectName}}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> <a style="color: white; text-decoration: none" routerLink="/management/project/detail/{{project.id}}"
                                                      href="chitietdoan.html">Chi tiết</a>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                              data-target="#modal-edit" name="{{project.id}}" (click)="reviseProject($event)">
                        <i class="fas fa-pencil-alt"></i> Duyệt đồ án
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </ng-container>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->

  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
