
  <div class="container" id="columns" style="padding-bottom: 0px">
    <div class="row">
      <div class="center_column col-xs-12 col-sm-12" id="center_column">
<div id="mainbody_contentbody_contentpage_regPanel">

  <div class="search-box">
    <div class="bold green title">TÌM KIẾM NÂNG CAO</div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label class="bold">Danh mục</label>
          <select name="ctl00$ctl00$ctl00$mainbody$contentbody$contentpage$ddlLang" id="mainbody_contentbody_contentpage_ddlLang" class="form-control" style="color: rgb(126, 89, 42);">
            <option selected="selected" value="0" style="color: rgb(126, 89, 42);">--Tất cả--</option>
            <option value="15" style="color: rgb(126, 89, 42);">Android</option>
            <option value="23" style="color: rgb(126, 89, 42);">iOS</option>
            <option value="26" style="color: rgb(126, 89, 42);">Windows phone</option>
            <option value="21" style="color: rgb(126, 89, 42);">PHP &amp; MySQL</option>
            <option value="29" style="color: rgb(126, 89, 42);">WordPress</option>
            <option value="28" style="color: rgb(126, 89, 42);">Joomla</option>
            <option value="17" style="color: rgb(126, 89, 42);">Visual C#</option>
            <option value="16" style="color: rgb(126, 89, 42);">Asp/Asp.Net</option>
            <option value="20" style="color: rgb(126, 89, 42);">Java/JSP</option>
            <option value="19" style="color: rgb(126, 89, 42);">Visual Basic</option>
            <option value="24" style="color: rgb(126, 89, 42);">Cocos2D</option>
            <option value="27" style="color: rgb(126, 89, 42);">Unity</option>
            <option value="18" style="color: rgb(126, 89, 42);">Visual C++</option>
            <option value="25" style="color: rgb(126, 89, 42);">Html &amp; Template</option>
            <option value="22" style="color: rgb(126, 89, 42);">Khác</option>

          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label class="bold">Thể loại</label>
          <select name="ctl00$ctl00$ctl00$mainbody$contentbody$contentpage$ddlType" id="mainbody_contentbody_contentpage_ddlType" class="form-control" style="color: rgb(126, 89, 42);">
            <option selected="selected" value="0" style="color: rgb(126, 89, 42);">--Tất cả--</option>
            <option value="1" style="color: rgb(126, 89, 42);">Website</option>
            <option value="2" style="color: rgb(126, 89, 42);">Phần mềm - Ứng dụng</option>
            <option value="3" style="color: rgb(126, 89, 42);">Game</option>
            <option value="4" style="color: rgb(126, 89, 42);">Khác</option>

          </select>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label class="bold">Tìm kiếm code</label>
          <div class="input-group">
            <input name="ctl00$ctl00$ctl00$mainbody$contentbody$contentpage$txtSearchAdv" type="text" value="ad" id="mainbody_contentbody_contentpage_txtSearchAdv" class="form-control txt-auto ui-autocomplete-input" placeholder="Từ khóa (or) Mã code" autocomplete="off">
            <span class="input-group-btn">
                    <a id="mainbody_contentbody_contentpage_btnSearch" class="btn btn-inline-orange btn-search-ad bold" type="button">TÌM KIẾM &nbsp;</a>
                </span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
      </div>
    </div>
  </div>
