<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark">Thông Tin Chi Tiết Đồ Án </h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
            <li class="breadcrumb-item"><a href="quanlydoan.html">Quản Lý Đồ Án</a></li>
            <li class="breadcrumb-item active">Chi Tiết Đồ Án</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- Chỉnh sửa ở đây! -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <!--                Ảnh , trạng thái-->
              <img class="img-fluid" [src]="linkAvartar+project.projectAvatarUrl" alt="Photo">
<!--            <img class="img-fluid" src="assets/admin-dashboard/dist/img/project/des01.png" alt="Photo">-->
            <div class="card card-primary">
              <div class="card-body">
                <b>Trạng thái: </b>
                <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch
                       data-off-color="danger">
              </div>
            </div>

            <!-- Ngày tạo , người tạo , ngày duyệt -->
            <div class="card card-primary">
              <div class="card-body">
                <strong><i class="mr-1"></i> Người tạo: </strong>
                <a class="text-muted" href="#">
                  {{project.createdBy}}
                </a>
                <hr>

                <strong><i class="mr-1"></i> Ngày tạo: </strong>

                <strong class="text-muted">{{project.createdDate}}</strong>

<!--                <hr>-->
<!--                <strong><i class="mr-1"></i> Người cập nhập: </strong>-->

<!--                <a href="#" class="text-muted">{{project.lastModifiedBy}}</a>-->
<!--                <hr>-->

                <strong><i class="mr-1"></i> Ngày cập nhập: </strong>

                <strong class="text-muted">{{project.lastModifiedDate}}</strong>

                <hr>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-7">
            <div class="card">
              <!--Tên đồ án-->
              <div class="card-header p-2">
                <h4 class="">{{project.projectName}}</h4>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="activity">
                    <!-- Thông tin cơ bản -->
                    <div class="post">
                      <div class="row">
                        <div class="form-group row">
                          <label for="proejctCodeLabel" class="col-sm-4 col-form-label">Mã
                            đồ án:</label>
                          <label id="proejctCodeLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.projectCode}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="departemtsLabel" class="col-sm-4 col-form-label">Bộ
                            môn:</label>
                          <label id="departemtsLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.nameDepartment}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="subjectNameLabel" class="col-sm-4 col-form-label">Tên
                            môn học:</label>
                          <label id="subjectNameLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.subjectName}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="subjectCodeLabel" class="col-sm-4 col-form-label">Mã
                            môn học: </label>
                          <label id="subjectCodeLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.subjectCode}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="subjectGroupLabel" class="col-sm-4 col-form-label">Nhóm
                            môn học:</label>
                          <label id="subjectGroupLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.subjectGroup}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="lecturerNameLabel" class="col-sm-4 col-form-label">Tên
                            giảng viên:</label>
                          <label id="lecturerNameLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.lecturerName}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="lecturerCodeLabel" class="col-sm-4 col-form-label">Mã
                            giảng viên:</label>
                          <label id="lecturerCodeLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.lecturerCode}}</label>
                        </div>
                        <div class="form-group row">
                          <label for="semester-yearLabel" class="col-sm-4 col-form-label">Học
                            kỳ - Năm
                            học:</label>
                          <label id="semester-yearLabel"
                                 class="col-sm-8 col-form-label bg-light">{{project.semester}} / {{project.year}} - {{project.year + 1}}</label>
                        </div>
                      </div>
                    </div>

                    <div class="post clearfix">
                      <div class="form-group row">
                        <label for="createdDateLabel" class="col-sm-4 col-form-label">Thể
                          loại:</label>
                        <label id="createdDateLabel"
                               class="col-sm-8 col-form-label bg-light">{{project.categoryName}}</label>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
        </div>
        <!--        Thông tin chi tiết , mô tả ngắn , mô tả chi tiết , ảnh-->
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Mô tả ngắn</h3>

              </div>
              <div class="card-footer">
                {{project.shortDescription}}
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Chi tiết đồ án</h3>
              </div>
              <div class="card-footer">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Thành viên thực hiện</h3>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Số thứ tự</th>
                        <th>Họ tên</th>
                        <th>Mã sinh viên</th>
                        <th>Lớp</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="count"></td>
                        <td>{{project.studentName}} ( Nhóm trưởng)</td>
                        <td>{{project.studentCode}}</td>
                        <td>{{project.studentClass}}</td>
                      </tr>
                      <tr *ngFor="let member of project.projectMembers">
                        <td class="count"></td>
                        <td>{{member.fullName}}</td>
                        <td>{{member.studentCode}}</td>
                        <td>{{member.classCode}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Mô tả chi tiết </h3>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          <div id="test">
                            <div [ngxSummernoteView]="project.detailedDescription"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Link demo : <a
                    href="{{project.demoLink}}">Click
                    here</a>
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-success" (click)="goBack()">Trở lại
                      </button>
                    </div>
                    <div id="buttonEdit" class="col-sm-4">
                      <button type="button" class="btn btn-warning" (click)="editProject()">
                        <i class="fas fa-pencil-alt"></i> Chỉnh sửa
                      </button>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-danger"  (click)="deleteProject()">
                        <i class="fas fa-trash"></i> Xoá
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div><!-- /.container-fluid -->
