
<div id="home-slider" class="page-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 slider-left"></div>
      <div class="col-sm-9 header-top-right">
        <div class="homeslider">
          <div class="content-slide">
            <ul id="contenhomeslider">
              <li>
                <img  src="assets/images/vnua.jpg" height="400.64px" /></li>
            </ul>
          </div>
        </div>
        <div class="header-banner banner-opacity">

          <img src="assets/images/picture1.jpg" height="400.64px">


        </div>
      </div>
    </div>
  </div>
</div>
