<header [ngClass]=name>
<div id="header" class="header">
  <div class="top-header">
    <div class="container">
      <div class="nav-top-links">
        <a class="first-item" href="tel:(024) 62617701" title="Click gọi ngay!">
          <img alt="hotline" src="assets/images/phone.png" />(024) 62617701</a>
        <a href="mailto:cntt@vnua.edu.vn" title="Click để gửi email!">
          <img  src="assets/images/email.png" />cntt@vnua.edu.vn</a>
      </div>

    </div>
  </div>
  <div class="container main-header">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 logo">
      <a href="/" >
        <img class="img-logo" title="FITA" src="assets/images/fita_logo.png" /></a>
    </div>
      <h2 class="title-main col-xs-7 col-sm-7 col-md-6"> HỆ THỐNG TRƯNG BÀY ĐỒ ÁN MÔN HỌC </h2>
    </div>
    </div>
  <div class="container main-header">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-12 header-search-box">
        <div class="form-inline search-h">
          <div id="regPanel">

            <div class="form-group form-category">
              <input type="hidden" name="ctl00$hdLangFilter" id="hdLangFilter" />
              <select class="select-category" id="slSearch" (change)="onCate($event)" >
                <option value="all">Tất cả thể loại</option>
                <option *ngFor="let cate of category" [value]="cate.categoryName"> {{ cate.categoryName }}</option>


              </select>
            </div>
            <div class="form-group input-serach">
              <input (keyup) = "onKey($event)" name="ctl00$txtSearch" type="text" id="txtSearch" class="txt-search txt-auto" placeholder="Nhập Từ khóa" />
              <input name="username" readonly  style="width:0;position:absolute"/>
            </div>
              <a id="btnSearch" class="pull-right btn-search" [routerLink]="['/search', inputCate , inputValue]"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="nav-top-menu" class="nav-top-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" id="box-vertical-megamenus">
          <div class="box-vertical-megamenus">
            <h4 class="title">
              <span class="title-menu">Danh mục</span>
              <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
            </h4>
            <div class="vertical-menu-content is-home">
              <ul class="vertical-menu-list" id = "vertical-menu-list-check">
                <li  *ngFor="let ca of category" class="{{ ca.categoryName }}" ><a [routerLink]="['/CategoryProject', ca.categoryName]" [state]="{id: ca.categoryCode}" >
                  <img class="icon-menu" alt="{{ ca.categoryName }}" src="assets/images/3.png">{{ ca.categoryName }}</a></li>
              </ul>
              <div class="all-category"><span class="open-cate">Xem tất cả</span></div>
            </div>
          </div>
        </div>
        <div id="main-menu" class="col-sm-9 main-menu">
          <nav class="navbar navbar-default">
           <a class="home-button" href="/home">Trang chủ</a>
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">MENU</a>
              </div>

            </div>
          </nav>
        </div>
      </div>
      <div id="form-search-opntop">
      </div>
      <div id="user-info-opntop">
      </div>

    </div>
  </div>
</div>
</header>
