<div class="modal fade" id="modal-profile">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title">Thông tin cá nhân</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="userFormGroup" novalidate (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group text-center">
            <div class="text-center mb-2">
              <img [src]="avartar" style="width: 160px; height: 160px" class="user-image img-circle elevation-2" id="viewAvatar"
                   alt="User Image">
            </div>
            <input type="file" (change)="submitFile($event)">
            <hr>
          </div>
          <div class="form-group">
            <label for="usernameEditModal">Tên tài khoản</label>
            <input type="text" id="usernameEditModal" class="form-control" formControlName="username" readonly>
          </div>
          <div class="form-group">
            <label for="fullNameEditModal">Họ tên</label>
            <input type="text" id="fullNameEditModal" class="form-control" formControlName="fullname">
          </div>
          <div class="form-group">
            <label for="birthDateEditModal">Ngày sinh</label>
            <input id="birthDateEditModal" type="date" class="form-control" data-inputmask-alias="datetime"
                   data-inputmask-inputformat="dd/mm/yyyy" data-mask formControlName="birthDate">
          </div>
            <div class="form-group">
              <label for="genderProfileModal" >Giới tính</label>
              <div class="form-inline" id="genderProfileModal">
                <div class="form-check mx-2">
                  <input class="form-check-input" type="radio" id="maleGender" name="genderProfile" value="Nam" [checked]="user.gender == 'Nam'" (change)="onChangeGender($event)">
                  <label for="maleGender" class="form-check-label">Nam</label>
                </div>
                <div class="form-check mx-2">
                  <input class="form-check-input" type="radio" id="femaleGender" name="genderProfile" value="Nữ" [checked]="user.gender == 'Nữ'" (change)="onChangeGender($event)">
                  <label for="femaleGender" class="form-check-label">Nữ</label>
                </div>
              </div>
            </div>
          <div class="form-group">
            <label for="emailEditModal">Email</label>
            <input type="email" id="emailEditModal" class="form-control" formControlName="emailAddress">
          </div>
          <div class="form-group">
            <label for="phoneEditModal">Số điện thoại</label>
            <input type="number" id="phoneEditModal" class="form-control"
                   data-mask formControlName="phoneNumber">
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary" [disabled]="userFormGroup.status == 'INVALID'">Chỉnh sửa</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
