<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản Lý Đồ Án</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/management/home">Home</a></li>
            <li class="breadcrumb-item active">Quản Lý Đồ Án</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- JUST EDIT HERE! -->
      <div class="row">
        <div class="col-12">
          <ng-container *ngIf="user.roleId == 1">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6 col-md-8 my-2">
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#modal-add"><a style="color: #FFFFFF" (click)="addProject()">Thêm đồ án</a>
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-4 my-2">
                    <ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChange($event)">
                    </ng-select2>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <blockquote class="quote-orange">
                <h5>Danh sách đồ án của hệ thống</h5>
                <!--<p>To use this main header instead of the regular one, you must add the <code class="highlighter-rouge">layout-top-nav</code> class to the body tag.</p>-->
              </blockquote>
              <div class="card-body">
                <table id="coursesDatatable" class="table table-bordered table-striped" datatable
                       [dtOptions]="dataTableOptions"
                       [dtTrigger]="dtTrigger">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Mã đồ án</th>
                    <th>Tên đồ án</th>
                    <th>Tên thể loại</th>
                    <th>Học kỳ / năm học</th>
                    <th>Môn học</th>
                    <th>Giảng viên</th>
                    <th>Hành động</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let project of projects">
                    <td class="count"></td>
                    <td>{{project.projectCode}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.categoryName}}</td>
                    <td>{{project.yearSemester}}</td>
                    <td>{{project.subjectName}}</td>
                    <td>{{project.lecturerName}}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> <a style="color: white; text-decoration: none" routerLink="/management/project/detail/{{project.id}}">Chi tiết</a>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </ng-container>
          <!-- /.card -->
          <ng-container *ngIf="user.roleId == 3">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6 col-md-8 my-2">
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#modal-add"><a style="color: #FFFFFF" (click)="addProject()">Thêm đồ án</a>
                    </button>
                  </div>
                  <!--<div class="col-sm-6 col-md-4 my-2">-->
                  <!--<ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChange($event)">-->
                  <!--</ng-select2>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                </div>
                <blockquote class="quote-orange">
                  <h5>Danh sách đồ án đang chờ kiểm duyệt</h5>
                  <!--<p>To use this main header instead of the regular one, you must add the <code class="highlighter-rouge">layout-top-nav</code> class to the body tag.</p>-->
                </blockquote>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="coursesDatatablefor" class="table table-bordered table-striped" datatable
                         [dtOptions]="dataTableOptions2"
                         [dtTrigger]="dtTrigger2">
                    <thead>
                    <tr>
                      <th>STT</th>
                      <th>Mã đồ án</th>
                      <th>Tên đồ án</th>
                      <th>Tên thể loại</th>
                      <th>Học kỳ / năm học</th>
                      <th>Môn học</th>
                      <th>Giảng viên</th>
                      <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let project of projectOfStudentDisable">
                      <td class="count"></td>
                      <td>{{project.projectCode}}</td>
                      <td>{{project.projectName}}</td>
                      <td>{{project.categoryName}}</td>
                      <td>{{project.yearSemester}}</td>
                      <td>{{project.subjectName}}</td>
                      <td>{{project.lecturerName}}</td>
                      <td>
                        <button type="button" class="btn btn-info btn-sm">
                          <i class="fas fa-eye"></i> <a style="color: white; text-decoration: none" routerLink="/management/project/detail/{{project.id}}">Chi tiết</a>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <blockquote class="quote-orange">
                <h5>Danh sách đồ án đã được kiểm duyệt</h5>
                <!--<p>To use this main header instead of the regular one, you must add the <code class="highlighter-rouge">layout-top-nav</code> class to the body tag.</p>-->
              </blockquote>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="coursesDatatableforSV" class="table table-bordered table-striped" datatable
                       [dtOptions]="dataTableOptions"
                       [dtTrigger]="dtTrigger">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Mã đồ án</th>
                    <th>Tên đồ án</th>
                    <th>Tên thể loại</th>
                    <th>Học kỳ / năm học</th>
                    <th>Môn học</th>
                    <th>Giảng viên</th>
                    <th>Hành động</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let project of projectOfStudent">
                    <td class="count"></td>
                    <td>{{project.projectCode}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.categoryName}}</td>
                    <td>{{project.yearSemester}}</td>
                    <td>{{project.subjectName}}</td>
                    <td>{{project.lecturerName}}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> <a style="color: white; text-decoration: none" routerLink="/management/project/detail/{{project.id}}">Chi tiết</a>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </ng-container>
          <ng-container *ngIf="user.roleId ==2">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6 col-md-8 my-2">
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#modal-add"><a style="color: #FFFFFF" (click)="addProject()">Thêm đồ án</a>
                    </button>
                  </div>
                  <!--<div class="col-sm-6 col-md-4 my-2">-->
                  <!--<ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChange($event)">-->
                  <!--</ng-select2>-->
                  <!--</div>-->
                </div>
              </div>
              <blockquote class="quote-orange">
                <h5>Danh sách đồ án của giảng viên hướng dẫn</h5>
                <!--<p>To use this main header instead of the regular one, you must add the <code class="highlighter-rouge">layout-top-nav</code> class to the body tag.</p>-->
              </blockquote>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="coursesDatatableforLecture" class="table table-bordered table-striped" datatable
                       [dtOptions]="dataTableOptions"
                       [dtTrigger]="dtTrigger">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Mã đồ án</th>
                    <th>Tên đồ án</th>
                    <th>Tên thể loại</th>
                    <th>Học kỳ / năm học</th>
                    <th>Môn học</th>
                    <th>Giảng viên</th>
                    <th>Hành động</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let project of projectOfLecture">
                    <td class="count"></td>
                    <td>{{project.projectCode}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.categoryName}}</td>
                    <td>{{project.yearSemester}}</td>
                    <td>{{project.subjectName}}</td>
                    <td>{{project.lecturerName}}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> <a style="color: white; text-decoration: none" routerLink="/management/project/detail/{{project.id}}">Chi tiết</a>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </ng-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->

  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
