<div class="modal-header bg-success">
  <h4 class="modal-title pull-left">Thêm thể loại</h4>
</div>
<form role="form" (ngSubmit)="onSubmit()" [formGroup]="categoriesFormGroup" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <label for="categoriesCodeAddModal">Mã thể loại</label>
      <input type="text" class="form-control" id="categoriesCodeAddModal" placeholder="Nhập mã thể loại"
             formControlName="code">
      <div [hidden]="categoriesFormGroup.controls.code.status == 'VALID' || categoriesFormGroup.controls.code.pristine"
           class="alert alert-danger">
        Mã bộ môn có dạng : TL_ _  , ex : TL01<br>
        Mã bộ môn không được trùng nhau.
      </div>
    </div>
    <div class="form-group">
      <label for="categoriesNameAddModal">Tên thể loại</label>
      <input type="text" class="form-control" id="categoriesNameAddModal" placeholder="Nhập tên thể loại"
             formControlName="name">
      <div [hidden]="categoriesFormGroup.controls.name.status == 'VALID' || categoriesFormGroup.controls.name.pristine"
           class="alert alert-danger">
        Tên bộ không được để trống và không được trùng nhau.
      </div>
    </div>

  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Đóng</button>
    <button type="submit" class="btn btn-primary" [disabled]="categoriesFormGroup.status == 'INVALID'">Lưu</button>
  </div>
</form>
